 body{
     font-family: 'Times New Roman', Times, serif;
     margin: 0;
 }

 .bg-hero{
     background-color: #307D99;
     color: white;
     text-align: center;
     padding-bottom: 4em;

 }
 header{
     padding: 1em 0;
 } 

 .bg-hero a{
     color: white;
     text-decoration: none;
     font-weight: bold;
     font-size: 1.2rem;
 }

 section{
     margin: 0 1em;
 }
 h1 {
     font-size: 2.5rem;
     margin: 2em 0 1.2em;
 }

 h1 span{
     text-transform: uppercase;
     display: block;
     font-size: 1rem;
 }

 .form-container{
     background-color: white;
     margin: 2em -1em 0;
     padding: 2em;
 }

 label{
     color: #2D7D98 ;
     font-weight: bold;
     display: block;
     margin-bottom: 1em;
 }

 input[type=text]{
     border: 1px solid #707070;
     width: 100%;
     padding: 1em;
     box-sizing: border-box;
     border-radius: .5em;
     margin-top: 1.2em;
 }

 .form-container p{
     color: gray;
     margin-bottom: 1.5em;
     font-weight: normal;
     font-size: .9em;
     margin-top: .3em;
 }

 input[type=button]{
     background-color: #F89104;
     border:none;
     width: 100%;
     color: white;
     font-weight: bold;
     padding: 1em 0;
     border-radius: .5em;
     font-size: 1.2em;
     cursor: pointer;

}
input[type=button]:hover{
    background-color: #221401;
 
}

.authentic{
    margin:0;
}

.right-col{
    text-align: center;
    margin: 3em 1em;
}
h2 {
    text-transform: uppercase;
    
}

img{
    width: 100%;
}

p {
    line-height: 2em;
}

@media(min-width: 730px){
    section{
        margin: 0 4em;
    }
    .form-container{
        margin: 2em -4em 0;
    }
      
}

@media(min-width: 930px){
    .bg-hero{
        text-align: left;
    }
    .bg-hero p{
        font-weight: bold;
        margin: 0 1 3em;
    }

    .bg-hero section{
        width: 50%;

    }
    .form-container{
        margin: 2em 0 0;
        padding: 2em;
        border-radius: .5em;
        box-shadow: 10px 10px 10px rgba(0,0,0,.3);
    }
    form{
        display: flex;
    }
    .form-left{
        width:80%;
    }
    label{
        margin:0;
    }
    input[type="button"]{
        height: fit-content;
        font-size: 1.1em;
        margin-left: 1em;
        margin-top: 2em;
        margin-bottom: 2em;
        padding: .7em;
        width:30%;
    }

    section.authentic{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: "head content";
    }
    .right-col{
        grid-area: content;
        padding: 0 10%;
        text-align: left;
        align-self: center;
    }

    img{
        grid-area: head;
        height: 400px;
        margin: 3em;

    }
 
      
}